# Enable some categories of checks and then disable individual ones.
# The disabled checks that appear as part of the initial alphabetical section
# enabling categories (e.g. cert-err58-cpp) are ones that do not make sense for
# this codebase and we do not intend to fix.  The disabled checks appearing
# thereafter in a separate alphabetical list have yet to be triaged.  We may
# fix their errors or recategorise them as checks we don't care about.
Checks: >
  bugprone-*,
  cata-*,
  cert-*,
  -cert-dcl21-cpp,
  -cert-env33-c,
  -cert-err58-cpp,
  clang-diagnostic-*,
  cppcoreguidelines-slicing,
  llvm-namespace-comment,
  misc-*,
  modernize-*,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -bugprone-branch-clone,
  -bugprone-infinite-loop,
  -bugprone-misplaced-widening-cast,
  -bugprone-narrowing-conversions,
  -bugprone-redundant-branch-condition,
  -bugprone-reserved-identifier,
  -bugprone-signed-char-misuse,
  -bugprone-sizeof-expression,
  -bugprone-unhandled-self-assignment,
  -cata-combine-locals-into-point,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-oop54-cpp,
  -cert-str34-c,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-deadcode.DeadStores,
  -misc-misplaced-const,
  -misc-no-recursion,
  -cert-err34-c,
  -cert-flp30-c,
  -cert-msc30-c,
  -cert-msc32-c,
  -cert-msc50-cpp,
  -cert-msc51-cpp,
  -misc-non-private-member-variables-in-classes,
  -misc-redundant-expression,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-pass-by-value,
  -modernize-return-braced-init-list,
  -modernize-use-default-member-init,
  -modernize-use-emplace,
  -modernize-use-transparent-functors,
  -modernize-use-override,
  -modernize-use-nodiscard,
  -modernize-concat-nested-namespaces,
  -modernize-loop-convert,
  -modernize-unary-static-assert,
  -modernize-use-nullptr,
  -performance-no-automatic-move,
  -performance-trivially-destructible,
  -performance-for-range-copy,
  -performance-inefficient-vector-operation,
  -performance-noexcept-move-constructor,
  -performance-implicit-conversion-in-loop,
  -performance-inefficient-algorithm,
  -performance-inefficient-string-concatenation,
  -performance-type-promotion-in-math-fn,
  -performance-unnecessary-value-param,
  -readability-avoid-const-params-in-decls,
  -readability-convert-member-functions-to-static,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-make-member-function-const,
  -readability-named-parameter,
  -readability-redundant-control-flow,
  -readability-redundant-declaration,
  -readability-identifier-length,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-use-anyofallof,

  -bugprone-throw-keyword-missing,
  -readability-identifier-naming,

  -readability-avoid-nested-conditional-operator,
  -bugprone-unchecked-optional-access,
  -bugprone-chained-comparison,
  -bugprone-easily-swappable-parameters,
  -bugprone-switch-missing-default-case,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  -clang-diagnostic-unused-macros,
  -clang-analyzer-optin.*,
  -performance-enum-size,
  -cert-dcl58-cpp,
# https://github.com/llvm/llvm-project/issues/59572
# https://github.com/llvm/llvm-project/issues/111003
# performance-enum-size: no automatic fix available
# cert-dcl58-cpp: too many issues with LUNA

# Turn back on when all the fixes are applied
# WarningsAsErrors: '*'
HeaderFilterRegex: "(src|(test(?!.*catch.*catch.h))|tools).*"
FormatStyle: none
CheckOptions:
  - key: readability-uppercase-literal-suffix.NewSuffixes
    value: "L;UL;LL;ULL"
  - key: cata-text-style.EscapeUnicode
    value: 0
  - key: readability-simplify-boolean-expr.SimplifyDeMorgan
    value: false
# vim:tw=0
