[Desktop Entry]
Name=Cataclysm: Bright Nights
GenericName=Post-apocalyptic roguelike
Comment=A roguelike set in a post-apocalyptic world
Icon=cataclysm-bn
Type=Application
Exec=cataclysm-tiles
Categories=Game;RolePlaying;
Keywords=zombie;rogue;roguelike;tiles;bn;
Terminal=false
