/* Dark mode colors. */
:root {
  --sl-color-accent-low: #242424;
  --sl-color-accent: #6a6a6a;
  --sl-color-accent-high: #c8c8c8;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #d7d7d7;
  --sl-color-accent: #6b6b6b;
  --sl-color-accent-high: #323232;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}
