name: Cataclysm Android build

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "build-data/osx/**"
      - "doc/**"
      - "doxygen_doc/**"
      - "gfx/**"
      - "lang/**"
      - "lgtm/**"
      - "tools/**"
      - "!tools/format/**"
      - "utilities/**"
      - 'scripts/**'

# We only care about the latest revision of a PR, so cancel previous instances.
concurrency:
  group: android-build-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: true

jobs:
  build_catatclysm:
    name: Build
    runs-on: ubuntu-24.04
    if: github.event.pull_request.draft == false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up JDK 11 (android)
        uses: actions/setup-java@v4.1.0
        with:
          java-version: "11"
          distribution: "adopt"

      - name: Setup build and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gettext libsqlite3-dev zlib1g-dev

      - name: Build
        working-directory: ./android
        run: |
          chmod +x gradlew
          ./gradlew -Pj=$((`nproc`+0)) -Pabi_arm_32=false assembleExperimentalRelease
