name: Clang-tidy (tiles)

on:
  # push:
  #   branches: [main]
  #   paths: [ "**.cpp", "**.h", "**.c", "**/CMakeLists.txt", "**/Makefile", "**.hpp", "**.cmake", "build-scripts/**","tools/clang-tidy-plugin/**", ".github/workflows/clang-tidy.yml", "**/.clang-tidy" ]
  workflow_dispatch:
  pull_request:
    branches: [main]
    paths:
      [
        "**.cpp",
        "**.h",
        "**.c",
        "**/CMakeLists.txt",
        "**/Makefile",
        "**.hpp",
        "**.cmake",
        "build-scripts/**",
        "tools/clang-tidy-plugin/**",
        ".github/workflows/clang-tidy.yml",
        "**/.clang-tidy",
      ]

# We only care about the latest revision of a PR, so cancel all previous instances.
concurrency:
  group: clang-tidy-build-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CMAKE: 1
      CLANG: /usr/bin/clang++-20
      COMPILER: /usr/bin/clang++-20
      TILES: 1
      SOUND: 1
      BUILD_PATH: "build"
      AFFECTED_FILES: "affected_files.txt"

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install \
            cmake gettext ninja-build mold jq \
            libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev libsdl2-mixer-dev libpulse-dev libflac-dev \
            sqlite3 libsqlite3-dev zlib1g-dev

          VERSION=20
          wget https://apt.llvm.org/llvm.sh
          chmod +x ./llvm.sh
          sudo ./llvm.sh $VERSION all
          for bin in clang clang++ clang-format clang-tidy run-clang-tidy llvm-config; do
            sudo update-alternatives --install /usr/bin/$bin $bin /usr/bin/$bin-$VERSION 200
          done

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: clang-tidy-${{ github.ref_name }}
          restore-keys: |
            clang-tidy-${{ github.ref_name }}
            clang-tidy-main
            clang-tidy-
          max-size: 500M
          verbose: 2
          save: ${{ github.event_name != 'pull_request' }}

      - name: add problem matcher
        run: |
          # Enable GitHub actions problem matchers
          # (See https://github.com/actions/toolkit/blob/master/docs/problem-matchers.md)
          echo "::add-matcher::build-scripts/problem-matchers/catch2.json"
          echo "::add-matcher::build-scripts/problem-matchers/debugmsg.json"

      - uses: ammaraskar/gcc-problem-matcher@master

      - uses: denoland/setup-deno@v2
        with: { cache: true }

      - name: build clang-tidy plugin
        run: |
          pip install --break-system-packages lit
          bash ./build-scripts/build-clang-tidy-plugin.sh

      # - name: test clang-tidy plugin
      #   run: |
      #     lit -v $BUILD_PATH/tools/clang-tidy-plugin/test
      #     clang-tidy --version

      - name: gather affected files
        run: deno task affected-files ${{ github.event.pull_request.number }} --output "$AFFECTED_FILES"

      - name: run clang-tidy
        run: bash ./build-scripts/run-clang-tidy-plugin.sh

      - name: show most time consuming checks
        if: always()
        run: | # the folder may not exist if there is no file to analyze
          if [ -d clang-tidy-trace ]
          then
            jq -n 'reduce(inputs.profile | to_entries[]) as {$key,$value} ({}; .[$key] += $value) | with_entries(select(.key|contains(".wall"))) | to_entries | sort_by(.value) | reverse | .[0:10] | from_entries' clang-tidy-trace/*.json
          else
            echo "clang-tidy-trace folder not found."
          fi
