name: General build matrix

on:
  push:
    branches: [main]
    paths-ignore: [docs/**, scripts/**, "**.md", "**.mdx"]
  pull_request:
    branches: [main]
    paths-ignore: [docs/**, scripts/**, "**.md", "**.mdx"]
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch:

# Cancel all previous instances in favor of latest revision of a PR.
# Allow running main builds to complete to help with ccache refreshes.
concurrency:
  group: general-build-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  skip-duplicates:
    continue-on-error: true
    runs-on: ubuntu-latest
    outputs:
      should_skip_code: ${{ steps.skip_code_check.outputs.should_skip }}
      should_skip_data: ${{ steps.skip_data_check.outputs.should_skip }}
    steps:
      - id: skip_code_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          paths_ignore: '["android/**", "docs/**", "doxygen_doc/**", "msvc-**", "tools/**", "utilities/**", "scripts/**", "data/**", "lang/**"]'
      - id: skip_data_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          paths_ignore: '["android/**", "docs/**", "doxygen_doc/**", "msvc-**", "tools/**", "utilities/**", "scripts/**"]'

  varied_builds:
    needs: skip-duplicates
    strategy:
      fail-fast: ${{ github.ref_name == 'main' }}
      max-parallel: ${{ github.ref_name == 'main' && 20 || 1 }}
      matrix:
        include:
          - title: GCC, Ubuntu, Curses, CMake
            compiler: g++-14
            os: ubuntu-latest
            tiles: 0
            sound: 0
            test-stage: 1
            libbacktrace: 1
            native: linux64
            ccache_limit: 2G
            ccache_key: linux-gcc-curses
            always-run: true

          - title: GCC, Ubuntu, Tiles, Sound, CMake, Languages
            compiler: g++-14
            os: ubuntu-latest
            tiles: 1
            sound: 1
            languages: all
            native: linux64
            ccache_limit: 2G
            ccache_key: linux-gcc-tiles
            upload-artifact: true

    name: ${{ matrix.title }}
    runs-on: ${{ matrix.os }}
    env:
      ZSTD_CLEVEL: 17
      COMPILER: ${{ matrix.compiler }}
      TILES: ${{ matrix.tiles }}
      SOUND: ${{ matrix.sound }}
      TEST_STAGE: ${{ matrix.test-stage }}
      LANGUAGES: ${{ matrix.languages }}

      CCACHE_LIMIT: ${{ matrix.ccache_limit }}
      CCACHE_FILECLONE: true
      CCACHE_HARDLINK: true
      CCACHE_NOCOMPRESS: true

      SKIP: ${{ matrix.always-run != true && ( github.event.pull_request.draft == true || needs.skip-duplicates.outputs.should_skip_code == true || needs.skip-duplicates.outputs.should_skip_data == true ) }}

    steps:
      - name: checkout repository
        if: ${{ env.SKIP == 'false' }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: install dependencies (ubuntu)
        if: ${{ env.SKIP == 'false' }}
        run: |
          sudo apt-get update
          sudo apt-get install gcc-14 libncursesw5-dev ccache gettext parallel libsqlite3-dev zlib1g-dev ninja-build
          sudo locale-gen en_US.UTF-8 fr_FR.UTF-8 ru_RU.UTF-8

          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 100
          g++ --version

      - name: install SDL2 dependencies (ubuntu)
        if: ${{ env.SKIP == 'false' && matrix.tiles == 1 }}
        run: |
          sudo apt-get install libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev libsdl2-mixer-dev libpulse-dev libflac-dev

      # problem matchers are only ran on GCC to reduce error spam
      - name: add problem matcher
        if: ${{ matrix.always-run == true }}
        run: |
          # Enable GitHub actions problem matchers
          # (See https://github.com/actions/toolkit/blob/master/docs/problem-matchers.md)
          echo "::add-matcher::build-scripts/problem-matchers/catch2.json"
          echo "::add-matcher::build-scripts/problem-matchers/debugmsg.json"

      - name: prepare
        if: ${{ env.SKIP == 'false' }}
        run: bash ./build-scripts/requirements.sh

      - name: Get ccache vars
        id: get-ccache-vars
        if: ${{ env.SKIP == 'false' }}
        shell: bash
        run: |
          echo "datetime=$(/bin/date -u "+%Y%m%d%H%M")" >> $GITHUB_OUTPUT

      - name: ccache cache files
        if: ${{ env.SKIP == 'false' }}
        uses: actions/cache@v3
        id: cache
        with:
          path: "~/.cache/ccache"
          # double-dash after compiler is not a typo, it is to disambiguate between g++-<date> and g++-11-<date> for restore key prefix matching
          key: ccache-${{ github.ref_name }}-${{ matrix.ccache_key }}--${{ steps.get-ccache-vars.outputs.datetime }}
          restore-keys: ccache-main-${{ matrix.ccache_key }}--

      - name: ccache info
        if: ${{ env.SKIP == 'false' && steps.cache.outputs.cache-hit != 'true' }}
        run: |
          echo CCache failed to restore from cache, emmiting stats
          ccache --show-stats --verbose

      - uses: ammaraskar/gcc-problem-matcher@master

      - name: run JSON linting (test-stage only)
        if: ${{ env.SKIP == 'false' && env.TEST_STAGE == '1' }}
        run: |
          build-scripts/lint-json.sh
          # TODO: migrate to CMake target once available
          make style-all-json-parallel RELEASE=1
          tools/dialogue_validator.py data/json/npcs/* data/json/npcs/*/* data/json/npcs/*/*/*

      - name: Configure with CMake
        if: ${{ env.SKIP == 'false' }}
        run: |
          cmake -B build -G Ninja \
            -DCMAKE_C_COMPILER=${{ matrix.compiler == 'g++-14' && 'gcc-14' || matrix.compiler }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.compiler }} \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_BUILD_TYPE=MinSizeRel \
            -DTILES=${{ matrix.tiles == 1 && 'ON' || 'OFF' }} \
            -DCURSES=${{ matrix.tiles == 0 && 'ON' || 'OFF' }} \
            -DSOUND=${{ matrix.sound == 1 && 'ON' || 'OFF' }} \
            -DLOCALIZE=${{ matrix.languages == 'all' && 'ON' || 'OFF' }} \
            -DBACKTRACE=ON \
            -DLIBBACKTRACE=${{ matrix.libbacktrace == 1 && 'ON' || 'OFF' }} \
            -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
            -DTESTS=ON

      - name: Build with CMake
        if: ${{ env.SKIP == 'false' }}
        run: cmake --build build --parallel $(nproc)

      - name: post-build ccache stats and cleanup
        if: ${{ env.SKIP == 'false' && !failure() }}
        run: |
          ccache --show-stats --verbose
          ccache --max-size ${{ env.CCACHE_LIMIT }}
          ccache --cleanup
          ccache --show-stats --verbose

      - name: clear ccache on PRs
        if: ${{ github.ref_name != 'main' && env.SKIP == 'false' && !failure() }}
        run: ccache --clear

      - name: run tests
        if: ${{ github.ref_name != 'main' && env.SKIP == 'false' }}
        run: |
          # Run tests using parallel execution
          test_bin="build/tests/cata_test${{ matrix.tiles == 1 && '-tiles' || '' }}"
          test_opts="--min-duration 20 --use-colour yes --rng-seed time --error-format=github-action"

          parallel --verbose --linebuffer \
            "$test_bin $test_opts --user-dir=test_user_dir_{#} {}" \
            ::: "[slow] ~starting_items" "~[slow] ~[.],starting_items"

          # Run test with all mods (test-stage only)
          if [ "${{ env.TEST_STAGE }}" = "1" ]; then
            blacklist=build-scripts/mod_test_blacklist
            ./build-scripts/get_all_mods.py $blacklist | \
              while read -r mods; do
                $test_bin $test_opts '~*' --user-dir=all_modded --mods="${mods}"
              done
          fi

      - name: emit success artifact
        if: ${{ success() && matrix.upload-artifact == 'true' }}
        uses: actions/upload-artifact@v4.6.0
        with:
          name: ${{ github.event.number }}
          path: ${{ github.event.number }}

      - name: upload artifacts if failed
        uses: actions/upload-artifact@v4.6.0
        if: failure()
        with:
          name: cata_test-${{ matrix.tiles == 1 && 'tiles' || 'curses' }}
          path: build/tests/cata_test${{ matrix.tiles == 1 && '-tiles' || '' }}
          if-no-files-found: ignore
