name: Windows build (MSYS2)

on:
  push:
    branches:
    - upload
    paths-ignore:
    - 'android/**'
    - 'build-data/osx/**'
    - 'doc/**'
    - 'doxygen_doc/**'
    - 'gfx/**'
    - 'lang/**'
    - 'tools/**'
    - '!tools/format/**'
    - 'utilities/**'
    - 'scripts/**'

# We only care about the latest revision, so cancel previous instances.
concurrency:
  group: msys2-build-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build_catatclysm:
    name: Build
    runs-on: windows-2019
    if: github.event.pull_request.draft == false

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - name: checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - name: Setup MSYS2
      # Will by default install MINGW64
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: |
          git
          make
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-libmad
          mingw-w64-x86_64-libwebp
          mingw-w64-x86_64-pkg-config
          mingw-w64-x86_64-SDL2
          mingw-w64-x86_64-SDL2_image
          mingw-w64-x86_64-SDL2_mixer
          mingw-w64-x86_64-SDL2_ttf

    - name: Build
      run: |
        make -j$((`nproc`+0)) RELEASE=1 DYNAMIC_LINKING=1 TILES=1 SOUND=1 LANGUAGES=all LINTJSON=0 ASTYLE=0

    - name: Run tests
      run: |
          ./tests/cata_test.exe --rng-seed time
