name: "Cataclysm OSX Manual Build"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "build-data/osx/**"
      - "doc/**"
      - "doxygen_doc/**"
      - "gfx/**"
      - "lang/**"
      - "lgtm/**"
      - "tools/**"
      - "!tools/format/**"
      - "utilities/**"
      - 'scripts/**'

# We only care about the latest revision of a PR, so cancel previous instances.
concurrency:
  group: osx-build-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: true

jobs:
  build_catatclysm:
    if: github.event.pull_request.draft == false

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: osx-curses-x64
            os: macos-14
            mxe: none
            tiles: 0
            artifact: osx-curses-x64
            ext: dmg
            content: application/x-apple-diskimage
          - name: osx-tiles-x64
            os: macos-14
            mxe: none
            tiles: 1
            artifact: osx-tiles-x64
            ext: dmg
            content: application/x-apple-diskimage
          - name: osx-curses-arm
            os: macos-14
            mxe: none
            tiles: 0
            artifact: osx-curses-arm
            ext: dmg
            content: application/x-apple-diskimage
          - name: osx-tiles-arm
            os: macos-14
            mxe: none
            tiles: 1
            artifact: osx-tiles-arm
            ext: dmg
            content: application/x-apple-diskimage
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    env:
      ZSTD_CLEVEL: 17
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
        
      - name: Install runtime dependencies
        uses: BrettDong/setup-sdl2-frameworks@v1
        with:
          sdl2: 2.30.11
          sdl2-ttf: 2.24.0
          sdl2-image: 2.8.4
          sdl2-mixer: 2.8.0
        
      - name: Install build dependencies
        run: |
          HOMEBREW_NO_AUTO_UPDATE=yes HOMEBREW_NO_INSTALL_CLEANUP=yes brew install sdl2 sdl2_image sdl2_ttf sdl2_mixer gettext ccache parallel llvm astyle sqlite3 zlib
          python3 -m venv ./venv
          source ./venv/bin/activate
          pip3 install mac_alias==2.2.0 dmgbuild==1.6.1 biplist polib luaparser

      - name: Check Clang OK
        run: |
          echo "Clang++ version:"
          $(brew --prefix llvm)/bin/clang++ --version  # Ensure clang++ is installed and working

      - name: Build
        run: |
          source ./venv/bin/activate
          make -j3 TILES=${{ matrix.tiles }} SOUND=${{ matrix.tiles }} LUA=1 RELEASE=1 LANGUAGES=all USE_HOME_DIR=1 OSX_MIN=11 PCH=0 COMPILER=$(brew --prefix llvm)/bin/clang++ dmgdist
