name: "Pull translations from Transifex"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 21 * * *"

concurrency:
  group: pull_translations
  cancel-in-progress: true

jobs:
  pull-translations:
    if: github.repository == 'cataclysmbn/Cataclysm-BN'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          # https://github.com/stefanzweifel/git-auto-commit-action?tab=readme-ov-file#push-to-protected-branches
          token: ${{ secrets.AUTO_COMMIT_PAT }}

      - name: "Get current date"
        id: get-timestamp
        run: echo "time=$(date -u "+%F")" >> $GITHUB_OUTPUT

      - name: "Pull translations"
        uses: transifex/cli-action@v2
        with:
          token: ${{ secrets.TX_TOKEN }}
          args: pull --force

      - name: Show Changes
        run: |
          git status
          git diff --numstat

      - name: Create Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: main
          commit_message: "feat(i18n): routine i18n updates on ${{ steps.get-timestamp.outputs.time }}"
          commit_user_name: "github-actions[bot]"
          commit_user_email: "github-actions[bot]@users.noreply.github.com"
          commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
