name: "Push translation template"

concurrency:
  group: push_transifex
  cancel-in-progress: true

env:
  UV_SYSTEM_PYTHON: 1

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Nightly Release"]
    types:
      - completed

jobs:
  push-template:
    runs-on: ubuntu-latest
    if: >
      ${{ github.event.workflow_run.event == 'push' &&
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.status == 'success' &&
      github.repository == 'cataclysmbnteam/Cataclysm-BN' }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: "Install gettext tools"
        run: sudo apt-get update && sudo apt-get install -y gettext

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv pip install polib "luaparser>=3.3.1"

      - name: "Generate translation template"
        run: lang/update_pot.sh

      - name: "Push translation template to Transifex server"
        uses: transifex/cli-action@v2
        with:
          token: ${{ secrets.TX_TOKEN }}
          args: push --source
