name: "Push translation template"

concurrency: push_transifex

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Nightly Release"]
    types:
      - completed

jobs:
  push-template:
    runs-on: ubuntu-latest
    if: >
      ${{ github.event.workflow_run.event == 'push' &&
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.status == 'success' &&
      github.repository == 'cataclysmbnteam/Cataclysm-BN' }}
    steps:
      - name: "Install gettext tools"
        run: sudo apt install gettext
      - name: "Install Python3"
        run: |
          sudo apt install python3-pip
          sudo pip3 install --break-system-packages polib luaparser
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Generate translation template"
        run: |
          lang/update_pot.sh
      - name: "Push translation template to Transifex server"
        uses: transifex/cli-action@v2
        with:
          token: ${{ secrets.TX_TOKEN }}
          args: push --source
