name: "Push translation template"

concurrency:
  group: push_transifex
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  push-template:
    if: github.repository == 'cataclysmbnteam/Cataclysm-BN'
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: "Install gettext tools"
        run: sudo apt-get install -y gettext

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - run: |
          uv python install --default
          uv venv
          source .venv/bin/activate
          uv pip install polib "luaparser>=3.3.1"

          lang/update_pot.sh

      - name: "Push translation template to Transifex server"
        uses: transifex/cli-action@v2
        with:
          token: ${{ secrets.TX_TOKEN }}
          args: push --source
