name: "Nightly Release"
concurrency: release
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  VCPKG_BINARY_SOURCES: "default"

jobs:
  metadata:
    runs-on: ubuntu-latest
    outputs:
      count: ${{ steps.env_vars.outputs.count }}
      tag_name: ${{ steps.env_vars.outputs.tag_name }}
      release_name: ${{ steps.env_vars.outputs.release_name }}
      last_tag_name: ${{ steps.env_vars.outputs.last_tag_name }}
      yesterday_tag_name: ${{ steps.env_vars.outputs.yesterday_tag_name }}
    steps:
      - uses: actions/checkout@v4
      - id: env_vars
        run: |
          TAG_NAME=$(date -u --iso-8601 --date='1 day ago')
          YESTERDAY_TAG_NAME=$(date -u --iso-8601 --date='2 day ago')
          LAST_TAG_NAME=$(git for-each-ref --sort=-creatordate --format '%(creatordate:short)' refs/tags | head -n 1)
          COMMITS=$(git log --oneline --since="$TAG_NAME" | wc -l)
          RELEASE_NAME="Nightly $TAG_NAME"

          echo "commits yesterday ($TAG_NAME): $COMMITS" >> "$GITHUB_STEP_SUMMARY"

          echo "count=$COMMITS" >> "$GITHUB_OUTPUT"
          echo "tag_name=$TAG_NAME" >> "$GITHUB_OUTPUT"
          echo "last_tag_name=$LAST_TAG_NAME" >> "$GITHUB_OUTPUT"
          echo "yesterday_tag_name=$YESTERDAY_TAG_NAME" >> "$GITHUB_OUTPUT"
          echo "release_name=$RELEASE_NAME" >> "$GITHUB_OUTPUT"

  release:
    needs: metadata
    name: Create Release
    runs-on: ubuntu-latest

    if: github.event_name == 'workflow_dispatch' || fromJson(needs.metadata.outputs.count) > 0
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      release_already_exists: ${{ steps.tag_check.outputs.exists }}

    steps:
      - name: Check if there is existing git tag
        id: tag_check
        uses: mukunku/tag-exists-action@v1.6.0
        with:
          tag: ${{ needs.metadata.outputs.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4

      - name: Push tag
        if: ${{ steps.tag_check.outputs.exists == 'false' }}
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: ${{ needs.metadata.outputs.tag_name }}
          tag_prefix: ""

      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v4.2.0
        with:
          configuration: "changelog.json"
          fromTag: ${{ needs.metadata.outputs.last_tag_name }}
          toTag: ${{ needs.metadata.outputs.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v2.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.metadata.outputs.tag_name }}
          name: ${{ needs.metadata.outputs.release_name }}
          body: |
            ${{ steps.build_changelog.outputs.changelog }}
            These are the outputs for the build of commit [${{ github.sha }}](https://github.com/${{ github.repository }}/commit/${{ github.sha }})
          draft: false
          prerelease: true

  builds:
    needs: [metadata, release]
    if: ${{ needs.release.outputs.release_already_exists == 'false' }}
    uses: ./.github/workflows/build.yml
    with:
      version-label: ${{ needs.metadata.outputs.tag_name }}
      upload-to-release: true
      release-tag: ${{ needs.metadata.outputs.tag_name }}
    secrets: inherit
